.content-div {
    height: 100%;

    display: flex !important;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
}

.logo img {
    width: 12em;

    animation: spin 4s linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


.content{
    max-height: 90vh !important;
    min-height: 90vh !important;
}

.main-div{
    z-index: 1000000;
}

.easter-egg, .easter-egg iframe  {
    height: 100%;
    width: 100%;
}
