.view-parent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  height: 100%;
}

.file-card {
  width: 16%;
  padding: 1em;
  height: max-content;
}

.file-card:hover {
  cursor: pointer;
}

.card-active {
  background: #e0e0e0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.file-name {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-top: 0.5em; */
}
