.view-parent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  height: 100%;
}

.file-card {
  width: 85px;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1em;
  height: max-content;
}
.file-icon {
  width: 80px;
  margin: auto;
  position: relative;
  height: 123px;
  display: flex;
  flex-direction: column;
}
.file-star-icon{
  position: absolute;
  right:0;
  bottom: 2.4rem;
}
.file-card:hover {
  cursor: pointer;
}

.card-active {
  background: #e0e0e0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.file-name {
  display: flex;
  justify-content: center;
  text-align: center;
  flex:1;
}
.file-inactive {
  opacity: 0.8;
  padding: 2px;
  box-sizing: content-box;
}

.file-active {
  opacity: 1;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  background-color: #eaeaea;
  padding: 2px;
  box-sizing: content-box;
}
.folder-icon,
.folder-name {
  width: max-content;
  margin: auto;
}
.folder-star-icon{
  position: absolute;
  right:0.75rem;
  bottom: 2.2rem;
}

.folder-active {
  display: block;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  box-sizing: content-box;
  border: 3px solid #e0e0e0;
  background-color: #eaeaea;
  text-align: center;
  position: relative;
}
.folder-inactive {
  display: block;
  padding: 2px;
  box-sizing: content-box;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
}

.image {
  border-radius: 0.3125rem;
  width: 100%;
  display: block;
  flex: 10;
  height: inherit;
}