.table-main {
  margin-top: 0px !important;
}
.table-row:hover {
  cursor: pointer !important;
}
.progress-parent {
  padding: 1rem;
}
.table-cell-file-icon-name {
  display: flex;
  align-items: center;
}
.table-cell-file-icon {
  width: 1.5rem;
  height: 2.1rem;
}
.table-cell-file-name {
  padding-left: 0.4rem;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
}
