.bar-progress-parent{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}
.view{
    position: relative;
    top: 8.2rem;
    height: 100%;
}
.divider-margin{
    margin: 0 !important;
}